<div class="container">
  <h1>Liste des résultats</h1>

  <!-- Vérification si des résultats sont présents -->
  <div *ngIf="allresultat.length > 0; else noResults">
    <table class="results-table">
      <thead>
        <tr>
          <!-- En-têtes du tableau -->
          <th>Id</th>
          <th>Pays exp</th>
          <th>Pays dest</th> 
          <th>Code</th> 
          <th>Expediteur</th> 
          <th>Receveur</th> 
          <th>Telephone Recev</th> 
          <th>Montant GNF</th> 
          <th>prix GNF</th> 
          <th>Partenaire</th> 
          <th>Payement status</th> 
          <th>Status</th> 
          </tr>
      </thead>
      <tbody>
        <!-- Boucle pour afficher chaque élément du tableau allresultat -->
        <tr *ngFor="let result of allresultat; let i = index">
          <td>{{ i + 1 }}</td> <!-- Affichage de l'index -->
          <td>{{ result.pays_exp }}</td>  
          <td>{{ result.pays_dest }}</td> 
          <td>{{ result.code }}</td> 
          <td>{{ result.expediteur }}</td>  
          <td>{{ result.receveur }}</td>  
          <td>{{ result.telephone_receveur }}</td> 
          <td>{{ result.montant_gnf +" GNF"}}</td> 
          <td>{{result.prix_1+" "+result.signe_2+" -> "+ result.prix_2+ " GNF" }}</td> 
          <td>{{result.Partenaire.prenom+" "+result.Partenaire.nom }}</td> 
          <td>{{ result.payement_type }}</td> 
          <td>{{ result.status }}</td> 
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Si aucun résultat n'est trouvé -->
  <ng-template #noResults>
    <p>Aucun résultat trouvé.</p>
  </ng-template>
</div>
