<div class="content-page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card bg-transparent">
            <div class="card-body p-0">
              <div class="profile-image relative">
                <img src="/assets/images/top-header.png" class="img-fluid rounded w-full" alt="profile-image">
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row m-0">
        <div class="col-lg-12 card-profile">
          <div class="card card-stretch h-full">
            <div class="card-body">
              <div class="table-responsive">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-wrap items-center justify-between breadcrumb-content">
                        <h5>Liste des remboursements</h5>
                        <div class="d-flex flex-wrap items-center justify-between">
                          <div class="pl-3 btn-new border-left">
                            <a href="#" class="btn btn-primary" data-target="#new-project-modal"
                              data-toggle="modal">Ajouter nouveau</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <table id="example" class="table data-table table-striped w-full">
                  <thead>
                    <tr class="text-muted">
                      <th class="border px-4 py-2">Id</th>
                      <th class="border px-4 py-2">Nom</th>
                      <th class="border px-4 py-2">Prenom</th>
                      <th class="border px-4 py-2">Montant</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let result of allresultat; let i = index" class="hover:bg-gray-100 even:bg-gray-50">
                      <td class="border px-4 py-2">{{ i + 1 }}</td>
                      <td class="border px-4 py-2">{{ result.Partenaire.nom }}</td>
                      <td class="border px-4 py-2">{{ result.Partenaire.prenom }}</td>
                      <td class="border px-4 py-2">{{ result.montant }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="new-project-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
  
        <div class="container">
          <h2>Ajouter un Remboursement</h2>
          <form [formGroup]="rembourserForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="utilisateurId">Utilisateur ID</label>
              <input id="utilisateurId" formControlName="utilisateurId" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label for="partenaireId">Partenaire ID</label>
                <input type="text" class="form-control" id="partenaireId" formControlName="partenaireId" placeholder="ID du partenaire" />
              </div>
            <div class="form-group">
              <label for="montant">Montant</label>
              <input id="montant" formControlName="montant" class="form-control" type="number" />
            </div>
            <button type="submit" [disabled]="!rembourserForm.valid" class="btn btn-primary">Ajouter remboursement</button>
          </form>
        </div>
      </div>
    </div>
  </div>