<div class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card bg-transparent">
          <div class="card-body p-0">
            <div class="profile-image relative">
              <img src="/assets/images/top-header.png" class="img-fluid rounded w-full" alt="profile-image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-lg-12 card-profile">
        <div class="card card-stretch h-full">
          <div class="card-body">
            <div class="table-responsive">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body d-flex flex-wrap items-center justify-between breadcrumb-content">
                    <h5>Liste des rembourser</h5>
                    <div>
                      <a href="#" class="btn btn-primary" data-toggle="modal"
                        data-target="#modifier-devise-modal">Devise</a>
                    </div>
                    <!-- <div>
                      <a href="#" class="btn btn-primary" data-toggle="modal"
                        data-target="#payer-partenaire-modal">Payer partenaire</a>
                    </div> -->
                    <div>
                      <a href="#" class="btn btn-primary" data-toggle="modal"
                        data-target="#calculer-rembourser-modal">Calcul</a>
                    </div>
                    <div class="pr-3 btn-new border-left">
                      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#new-project-modal">Ajouter
                        nouveau</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-md-3 d-flex mb-3 mb-md-0">
                  <input type="date" id="startDate" class="form-control" placeholder="Date Début"
                    style="border-radius: 25px;">
                </div>
                <div class="col-md-3 d-flex mb-3 mb-md-0">
                  <input type="date" id="endDate" class="form-control" placeholder="Date Fin"
                    style="border-radius: 25px;">
                </div>
                <div class="col-md-3 d-flex">
                  <button id="btnFilter" class="btn btn-primary"
                  (click)="filtrerEntreDates()"
                    style="border-radius: 60px; padding: 5px 10px; font-size: 14px;">
                    Filtrer
                  </button>
                </div>
                <div class="col-md-3 d-flex">
                  <div style="font-weight: bold; margin-top: 10px;">Total Montant : {{ totalMontant | number }} GNF</div>
                </div>
              </div>

              <table id="datatable" class="w-full border-collapse border border-gray-300">
                <thead>
                  <tr class="bg-blue-500 text-white">
                    <th class="border px-4 py-2">Date paiement</th>
                    <th class="border px-4 py-2">Nom</th>
                    <th class="border px-4 py-2">Prix</th>
                    <th class="border px-4 py-2">Montant</th>
                    <th class="border px-4 py-2">Montant GNF</th>
                    <th class="border px-4 py-2">Partenaire</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of filteredResults">
                    <td>{{ result.date_creation | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td class="border px-4 py-2">{{ result.nom }}</td>
                     <td class="border px-4 py-2">{{ (result.prix_2 | currency:'' :'' :'1.0-0')+" "+result.signe_1 }} -->
                     </td> 
                    <td class="border px-4 py-2">{{ (result.montant | currency:'' :'' :'1.0-0') +" "+ result.signe_2}}
                    </td>
                    <td class="border px-4 py-2">{{ (result.montant_gnf | currency:'' :'' :'1.0-0') +" "+
                      result.signe_1}}</td>
                    <td class="border px-4 py-2">{{ result.Partenaire.prenom +" "+ result.Partenaire.nom}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="payer-partenaire-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Payer un partenaire</h5>
        <button class="btn btn-success mb-2" (click)="payerSelection()">Payer</button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="my-3 ml-2  row">
        <!-- Filtrage par dates -->
        <div class="col-lg-4">
          <input type="date" id="dateDebut" [(ngModel)]="dateDebut" class="form-control">
        </div>
        <div class="col-lg-4">
          <input type="date" id="dateFin" [(ngModel)]="dateFin" class="form-control">
        </div>
        <div class="col-lg-4">
          <button class="btn btn-primary mt-2" (click)="filtrerEntre()">Filtrer</button>
        </div>
      </div>


      <div class="modal-body">
        <table class="table data-table table-striped table-flush" style="width:100%">
          <thead>
            <tr class="text-muted">
              <th class="border px-4 py-2">Type</th>
              <th class="border px-4 py-2">Date</th>
              <th class="border px-4 py-2">Montant</th>
              <th class="border px-4 py-2">Prix</th>
              <th class="border px-4 py-2">Montant GNF</th>
              <th class="border px-4 py-2">Partenaire</th>
              <th class="border px-4 py-2">Status</th>
              <th class="border px-4 py-2">type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of filteredEntre;" class="hover:bg-gray-100 even:bg-gray-50">
              <td>
                <input type="checkbox" [(ngModel)]="result.selected">
              </td>
              <td>{{ result.date_creation | date:'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ result.montant_cfa | currency:'' :'' :'1.0-0' }} XOF</td>
              <td>{{ result.prix_2 | currency:'' :'' :'1.0-0' }} GNF</td>
              <td>{{ (result.montant_gnf) | currency:'' :'' :'1.0-0' }} GNF</td>
              <td>{{ result.Partenaire.prenom + " "+ result.Partenaire.nom }}</td>
              <td>{{ result.status }}</td>
              <td>{{ result.type }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="calculer-rembourser-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Calcul</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="onCalculer()" class="form-benefice">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="dateDebut">Date Début</label>
                <input type="date" id="dateDebut" [(ngModel)]="dateDebut" name="dateDebut" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="dateFin">Date Fin</label>
                <input type="date" id="dateFin" [(ngModel)]="dateFin" name="dateFin" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="montant">Montant en devise</label>
            <input type="number" id="montant" [(ngModel)]="montant" name="montantCfa" required>
          </div>
          <div class="row">

            <div class="col-lg-6">
              <div class="form-group">
                <label for="prix_1">Prix en devise</label>
                <input type="number" id="prix_1" [(ngModel)]="prix_1" name="prix_1" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="prix">Prix (en GNF)</label>
                <input type="number" id="prix" [(ngModel)]="prix" name="prix" required>
              </div>
            </div>
          </div>
          <button type="submit" class="btn-calculer">Calculer</button>
        </form>
        <div *ngIf="resultats" class="resultats" style="display: flex; justify-content: space-between;">
          <div>
            <p><strong>Montant achater en devise :</strong> {{ resultats.totalMontantCfa | currency:'' :''
              :'1.0-0'}}</p>
            <p><strong>Montant achater :</strong> {{ resultats.totalMontantGnf | currency:'' :'' :'1.0-0'}} GNF
            </p>
            <p><strong>Montant vendu :</strong> {{ resultats.montantGnfSaisi | currency:'' :'' :'1.0-0'}} GNF
            </p>
          </div>
          <div>
            <ng-container *ngIf="benefice > 0; else noBenefice">
              <strong>Bénéfice</strong>
            </ng-container>
            <ng-template #noBenefice>
              <strong>Pas de bénéfice</strong>
            </ng-template>
            :
            <ng-container *ngIf="resultats.montantGnfSaisi">
              <strong [ngStyle]="{ color: benefice <= 0 ? 'red' : 'inherit' }">
                {{ benefice | currency: '' : '' : '1.0-0' }}
              </strong>
              GNF
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new-project-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Ajouter un Remboursement</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="rembourserForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="devise">Partenaire</label>
            <select class="form-control" id="partenaire" formControlName="partenaireId" required>
              <option value="" disabled selected>Sélectionnez un partenaire</option>
              <option *ngFor="let partenaire of allPartenaire" [value]="partenaire.id">
                {{ partenaire.prenom+" "+ partenaire.nom+" "+ (partenaire.montant_preter | currency:'' :'' :'1.0-0')+"
                XOF"}}
              </option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label for="nom">Nom client</label>
            <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Nom du client" />
          </div>
          <div class="form-group mb-3">
            <label for="devise">Prix</label>
            <select class="form-control" id="devise" formControlName="deviseId" required>
              <option value="" disabled selected>Sélectionnez un prix</option>
              <option *ngFor="let devise of allDevise" [value]="devise.id">
                {{ devise.paysArriver+" "+ (devise.prix_1 | currency:'' :'' :'1.0-0')+" "+ devise.signe_2 +"->"+
                (devise.prix_2 | currency:'' :'' :'1.0-0') +" "+ devise.signe_1 }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="montant">Montant</label>
            <input id="montant" formControlName="montant" class="form-control" type="number" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary" [disabled]="!rembourserForm.valid">
              <span *ngIf="isLoading">Création en cours...</span>
              <span *ngIf="!isLoading">Valider</span>
            </button>
          </div>
          <!-- <button type="submit" [disabled]="!rembourserForm.valid" class="btn btn-primary">Ajouter
            remboursement
          </button> -->
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modifier-devise-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <table class="table data-table table-striped table-flush" style="width:100%">
              <thead>
                <tr class="text-muted">
                  <th class="border px-4 py-2">Pays depart</th>
                  <th class="border px-4 py-2">Pays arriver</th>
                  <th class="border px-4 py-2">Prix devise</th>
                  <th class="border px-4 py-2">Prix correspond</th>
                  <th class="border px-4 py-2">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let result of allDevise;">
                  <td class="border px-4 py-2">{{ result.paysDepart }}</td>
                  <td class="border px-4 py-2">{{ result.paysArriver }}</td>
                  <td class="border px-4 py-2">{{ (result.prix_1 | currency:'' :'' :'1.0-0') +" "+result.signe_2}}
                  </td>
                  <td class="border px-4 py-2">{{ (result.prix_2 | currency:'' :'' :'1.0-0') +" "+result.signe_1}}
                  </td>
                  <td>
                    <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#edit-modifier-modal"
                      (click)="onEdit(result)">Modifier
                    </button>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="edit-modifier-modal" tabindex="-1" role="dialog" aria-labelledby="editProjectModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title">Modifier la devise</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editDeviseForm" (ngSubmit)="onUpdate()">
          <div class="form-group">
            <label for="edit_paysArriver">Pays Arriver</label>
            <input id="edit_paysArriver" formControlName="paysArriver" class="form-control" type="text" />
          </div>
          <div class="form-group">
            <label for="edit_signe_2">Signe 2</label>
            <input id="edit_signe_2" formControlName="signe_2" class="form-control" type="text" />
          </div>
          <div class="form-group">
            <label for="edit_prix_1">Prix 1</label>
            <input id="edit_prix_1" formControlName="prix_1" class="form-control" type="number" />
          </div>
          <div class="form-group">
            <label for="edit_prix_2">Prix 2</label>
            <input id="edit_prix_2" formControlName="prix_2" class="form-control" type="number" />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!editDeviseForm.valid">Modifications</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
