<div class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card bg-transparent">
          <div class="card-body p-0">
            <div class="profile-image relative">
              <img src="/assets/images/top-header.png" class="img-fluid rounded w-full" alt="profile-image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-lg-12 card-profile">
        <div class="card card-stretch h-full">
          <div class="card-body">
            <div class="table-responsive">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-wrap items-center justify-between breadcrumb-content">
                      <h5>Liste des remboursements</h5>
                      <div class="d-flex flex-wrap items-center justify-between">
                        <div class="pl-3 btn-new border-left">
                          <a href="#" class="btn btn-primary" data-target="#new-project-modal"
                            data-toggle="modal">Ajouter nouveau</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <div class="container">
                <form (ngSubmit)="onCalculer()" class="form-benefice">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="dateDebut">Date Début</label>
                        <input type="date" id="dateDebut" [(ngModel)]="dateDebut" name="dateDebut" required>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="dateFin">Date Fin</label>
                        <input type="date" id="dateFin" [(ngModel)]="dateFin" name="dateFin" required>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="montant">Montant en devise</label>
                    <input type="number" id="montant" [(ngModel)]="montant" name="montantCfa" required>
                  </div>
                  <div class="row">

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="prix_1">Prix en devise</label>
                        <input type="number" id="prix_1" [(ngModel)]="prix_1" name="prix_1" required>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="prix">Prix (en GNF)</label>
                        <input type="number" id="prix" [(ngModel)]="prix" name="prix" required>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn-calculer">Calculer</button>
                </form>

                <div *ngIf="resultats" class="resultats">
                  <p><strong>Montant achater en devise :</strong> {{ resultats.totalMontantCfa | currency:'' :''
                    :'1.0-0'}}</p>
                  <p><strong>Montant achater en GNF :</strong> {{ resultats.totalMontantGnf | currency:'' :'' :'1.0-0'}}
                  </p>
                  <p><strong>Montant vendu en GNF :</strong> {{ resultats.montantGnfSaisi | currency:'' :'' :'1.0-0'}}
                  </p>
                </div>
              </div>


              <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"
                class="table data-table table-striped table-flush" style="width:100%">
                <thead>
                  <tr class="text-muted">
                    <th class="border px-4 py-2">Date</th>
                    <th class="border px-4 py-2">Nom</th>
                    <th class="border px-4 py-2">Prix</th>
                    <th class="border px-4 py-2">Montant</th>
                    <th class="border px-4 py-2">Montant GNF</th>
                    <th class="border px-4 py-2">Partenaire</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of allresultat;" class="hover:bg-gray-100 even:bg-gray-50">
                    <td>{{ result.date_creation | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td class="border px-4 py-2">{{ result.nom }}</td>
                    <td class="border px-4 py-2">{{ (result.prix_2 | currency:'' :'' :'1.0-0')+" "+result.signe_1 }}
                    </td>
                    <td class="border px-4 py-2">{{ (result.montant | currency:'' :'' :'1.0-0') +" "+ result.signe_2}}
                    </td>
                    <td class="border px-4 py-2">{{ (result.montant_gnf | currency:'' :'' :'1.0-0') +" "+
                      result.signe_1}}</td>
                    <td class="border px-4 py-2">{{ result.Partenaire.prenom +" "+ result.Partenaire.nom}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="new-project-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <div class="container">
        <h2>Ajouter un Remboursement</h2>
        <form [formGroup]="rembourserForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="devise">Partenaire</label>
            <select class="form-control" id="partenaire" formControlName="partenaireId" required>
              <option value="" disabled selected>Sélectionnez un partenaire</option>
              <option *ngFor="let partenaire of allPartenaire" [value]="partenaire.id">
                {{ partenaire.prenom+" "+ partenaire.nom+" "+ (partenaire.montant_preter | currency:'' :'' :'1.0-0')+"
                XOF"}}
              </option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label for="nom">Nom client</label>
            <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Nom du client" />
          </div>
          <div class="form-group mb-3">
            <label for="devise">Prix</label>
            <select class="form-control" id="devise" formControlName="deviseId" required>
              <option value="" disabled selected>Sélectionnez un prix</option>
              <option *ngFor="let devise of allDevise" [value]="devise.id">
                {{ devise.paysArriver+" "+ (devise.prix_1 | currency:'' :'' :'1.0-0')+" "+ devise.signe_2 +"->"+
                (devise.prix_2 | currency:'' :'' :'1.0-0') +" "+ devise.signe_1 }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="montant">Montant</label>
            <input id="montant" formControlName="montant" class="form-control" type="number" />
          </div>
          <button type="submit" [disabled]="!rembourserForm.valid" class="btn btn-primary">Ajouter
            remboursement</button>
        </form>
      </div>
    </div>
  </div>
</div>