<div class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card bg-transparent">
          <div class="card-body p-0">
            <div class="profile-image relative">
              <img src="/assets/images/top-header.png" class="img-fluid rounded w-full" alt="profile-image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-lg-12 card-profile">
        <div class="card card-stretch h-full">
          <div class="card-body">
            <div class="table-responsive">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-wrap items-center justify-between breadcrumb-content">
                      <h5>Liste des partenaires</h5>
                      <div class="d-flex flex-wrap items-center justify-between">
                        <div class="pl-3 btn-new border-left">
                          <a href="#" class="btn btn-primary" data-target="#new-project-modal"
                            data-toggle="modal">Ajouter nouveau</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <table id="example" class="table data-table table-striped w-full">
                <thead>
                  <tr class="text-muted">
                    <th class="border px-4 py-2">Id</th>
                    <th class="border px-4 py-2">Nom</th>
                    <th class="border px-4 py-2">Prenom</th>
                    <th class="border px-4 py-2">Pays</th>
                    <th class="border px-4 py-2">Montant</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of allresultat; let i = index" class="hover:bg-gray-100 even:bg-gray-50">
                    <td class="border px-4 py-2">{{ i + 1 }}</td>
                    <td class="border px-4 py-2">{{ result.nom }}</td>
                    <td class="border px-4 py-2">{{ result.prenom }}</td>
                    <td class="border px-4 py-2">{{ result.pays }}</td>
                    <td class="border px-4 py-2">{{ result.montant_preter }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="new-project-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <div class="container">
        <h2>Ajouter un Partenaire</h2>
        <form [formGroup]="partenaireForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="utilisateurId">Utilisateur ID</label>
            <input id="utilisateurId" formControlName="utilisateurId" class="form-control" />
          </div>
          <div class="form-group">
            <label for="nom">Nom</label>
            <input id="nom" formControlName="nom" class="form-control" />
          </div>
          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input id="prenom" formControlName="prenom" class="form-control" />
          </div>
          <div class="form-group">
            <label for="pays">Pays</label>
            <input id="pays" formControlName="pays" class="form-control" />
          </div>
          <div class="form-group">
            <label for="montant_preter">Montant Prêté</label>
            <input id="montant_preter" formControlName="montant_preter" class="form-control" type="number" />
          </div>
          <button type="submit" [disabled]="!partenaireForm.valid" class="btn btn-primary">Ajouter Partenaire</button>
        </form>
      </div>
    </div>
  </div>
</div>