<div class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card bg-transparent">
          <div class="card-body p-0">
            <div class="profile-image relative">
              <img src="/assets/images/top-header.png" class="img-fluid rounded w-full" alt="profile-image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-lg-12 card-profile">
        <div class="card card-stretch h-full">
          <div class="card-body">
            <div class="table-responsive">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-wrap items-center justify-between breadcrumb-content">
                      <h5>Liste des entres</h5>
                      <div class="d-flex flex-wrap items-center justify-between">
                        <div class="pl-3 btn-new border-left">
                          <a href="#" class="btn btn-primary" data-target="#new-project-modal"
                            data-toggle="modal">Ajouter nouveau</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <table id="example" class="table data-table table-striped table-flush" style="width:100%">
                <thead>
                  <tr class="text-muted">
                    <!-- <th class="border px-4 py-2">Id</th> -->
                    <th>Code</th>
                    <th>Date du jours</th>
                    <th>Expéditeur</th>
                    <th>Receveur</th>
                    <th>Téléphone</th>
                    <th>Montant En Cfa</th>
                    <th>Prix</th>
                    <th>Montant En GNF</th>
                    <th>Montant payer GNF</th>
                    <th>Montant restant GNF</th>
                    <!-- <th>Partenaire</th> -->
                    <th>Paiement Status</th>
                  </tr>
                </thead>
                <tbody>
                <tbody>
                  <tr *ngFor="let result of allresultat; let i = index" class="hover:bg-gray-100 even:bg-gray-50">
                    <!-- <td>{{ result.id }}</td> -->
                    <td>{{ result.code }}</td>
                    <td>{{ result.date_creation | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ result.expediteur }}</td>
                    <td>{{ result.receveur }}</td>
                    <td>{{ result.telephone_receveur }}</td>
                    <td>{{ result.montant_cfa | currency:'' :'' :'1.0-0'}} XOF</td>
                    <td>{{ result.prix_2 | currency:'' :'' :'1.0-0'}} GNF</td>
                    <td>{{ (result.montant_cfa / result.prix_1) * result.prix_2 | currency:'' :'' :'1.0-0' }} GNF</td>
                    <td>{{ result.montant_payer | currency:'' :'' :'1.0-0' }} GNF</td>
                    <td>{{ result.montant_restant| currency:'' :'' :'1.0-0' }} GNF</td>
                    <!-- <td>{{ result.Partenaire.prenom + " " + result.Partenaire.nom }}</td> -->
                    <td>{{ result.payement_type }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new-project-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Ajouter une nouvelle entrée</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="entreForm" (ngSubmit)="ajouterEntree()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="expediteur">Expéditeur</label>
              <input type="text" class="form-control" id="expediteur" formControlName="expediteur"
                placeholder="Nom de l'expéditeur" />
            </div>
            <div class="form-group col-md-6">
              <label for="receveur">Receveur</label>
              <input type="text" class="form-control" id="receveur" formControlName="receveur"
                placeholder="Nom du receveur" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="telephoneReceveur">Téléphone du receveur</label>
              <input type="text" class="form-control" id="telephoneReceveur" formControlName="telephone_receveur"
                placeholder="Téléphone" />
            </div>
            <div class="form-group col-md-6">
              <div class="form-group mb-3">
                <label for="devise">Pays destination</label>
                <select
                  class="form-control"
                  id="devise"
                  formControlName="deviseId"
                  required
                >
                  <option value="" disabled selected>Sélectionnez un pays</option>
                  <option *ngFor="let devise of allDevise" [value]="devise.id">
                    {{ devise.paysArriver+" "+ (devise.prix_1 | currency:'' :'' :'1.0-0')+" "+ devise.signe_2 +"->"+ (devise.prix_2 | currency:'' :'' :'1.0-0') +" "+ devise.signe_1 }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="form-group mb-3">
                <label for="devise">Partenaire</label>
                <select
                  class="form-control"
                  id="partenaire"
                  formControlName="partenaireId"
                  required
                >
                  <option value="" disabled selected>Sélectionnez un partenaire</option>
                  <option *ngFor="let partenaire of allPartenaire" [value]="partenaire.id">
                    {{ partenaire.prenom+" "+ partenaire.nom+" "+ (partenaire.montant_preter | currency:'' :'' :'1.0-0')+" GNF"}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="montant_cfa">Montant CFA</label>
              <input type="number" class="form-control" id="montant_cfa" formControlName="montant_cfa"
                placeholder="Montant en CFA" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>