<div class="content-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card bg-transparent">
          <div class="card-body p-0">
            <div class="profile-image relative">
              <img src="/assets/images/transfert.jpg" class="img-fluid rounded w-full" alt="profile-image"
                style="height: 200px; object-fit: cover;" />
            </div>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="showUserModal" class="modal fade show d-block" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="max-height: 80vh; overflow-y: auto;">
          <form class="p-4 shadow rounded" [formGroup]="conversionDeviseForm" (ngSubmit)="conversionDevise()">
            <div class="modal-header">
              <h5 class="modal-title">Conversion de devise</h5>

              <button type="button" class="close" (click)="closeUserModal()">&times;</button>
            </div>

            <div class="modal-body">
              <!-- Résultat mis en valeur -->
              <div class="mb-3">
                <div class="alert alert-success text-center fw-bold fs-4 border border-success rounded-pill shadow-sm">
                  {{ soldeTotal | number: '1.0-0' }} {{ conversionDeviseForm.get('signe2')?.value }}
                </div>
              </div>

              <!-- Formulaire encadré -->
              <div class="card border border-success shadow-sm p-4">
                <div class="row mb-3">
                  <div class="col-lg-6 mb-3 mb-lg-0">
                    <label for="montantDevise" class="form-label fw-semibold">Montant</label>
                    <input type="text" id="montantDevise" class="form-control" placeholder="Entrez le montant"
                      formControlName="montantDevise" (input)="onInputChangeMontantDevise($event)" [(ngModel)]="montantDevise"
                      [ngModel]="montantDevise | currencyFormat" />
                  </div>

                  <div class="col-lg-6">
                    <label for="prixDevise" class="form-label fw-semibold">Prix de la devise</label>
                    <input type="text" id="prixDevise" class="form-control" placeholder="Entrez le prix"
                      formControlName="prixDevise" 
                       (input)="onInputChangePrixDevise($event)" [(ngModel)]="prixDevise"
                      [ngModel]="prixDevise | currencyFormat"
                      />
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-lg-6 mb-3 mb-lg-0">
                    <label for="signe1" class="form-label fw-semibold">Devise source</label>
                    <select id="signe1" class="form-select" formControlName="signe1">
                      <option value="">-- Choisir --</option>
                      <option value="EURO">Euro</option>
                      <option value="USD">Dollar</option>
                      <option value="XOF">Cfa</option>
                      <option value="GNF">GNF</option>
                    </select>
                  </div>

                  <div class="col-lg-6">
                    <label for="signe2" class="form-label fw-semibold">Devise cible</label>
                    <select id="signe2" class="form-select" formControlName="signe2">
                      <option value="">-- Choisir --</option>
                      <option value="EURO">Euro</option>
                      <option value="USD">Dollar</option>
                      <option value="XOF">Cfa</option>
                      <option value="GNF">GNF</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-end">
              <div class="col-auto">
                <button type="button" class="btn btn-secondary" (click)="closeUserModal()">
                  Annuler
                </button>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary" [disabled]="conversionDeviseForm.invalid">
                  <span>Convertir</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-lg-12 card-profile">
        <div class="card card-stretch h-full">
          <div class="card-body">
            <div class="table-responsive">
              <div class="col-lg-12">
                <div class="card">

                  <div class="card-body d-flex flex-wrap items-center justify-between breadcrumb-content">
                    <h5>Liste des payements</h5>
                    <div>
                      <button class="btn btn-primary w-100 p-2" (click)="openUserModal()">
                        Conversion devise
                      </button>
                    </div>
                    <div class="pl-3 btn-new border-left">
                      <a href="#" class="btn btn-primary" data-target="#new-project-modal" data-toggle="modal">Ajouter
                        nouveau</a>
                    </div>

                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-md-3 d-flex mb-3 mb-md-0">
                  <input type="date" id="startDate" class="form-control" placeholder="Date Début"
                    style="border-radius: 25px" />
                </div>
                <div class="col-md-3 d-flex mb-3 mb-md-0">
                  <input type="date" id="endDate" class="form-control" placeholder="Date Fin"
                    style="border-radius: 25px" />
                </div>
                <div class="col-md-3 d-flex">
                  <button id="btnFilter" class="btn btn-primary" (click)="filtrerEntreDates()" style="
                      border-radius: 60px;
                      padding: 5px 10px;
                      font-size: 14px;
                    ">
                    Filtrer
                  </button>
                </div>
                <div class="col-md-3 d-flex">
                  <div style="font-weight: bold; margin-top: 10px">
                    Total Montant : {{ totalMontant | number }} GNF
                  </div>
                </div>
              </div>

              <table id="datatable" class="table table-striped">
                <thead>
                  <tr class="bg-blue-500 text-white">
                    <th>Date paiement</th>
                    <th>Montant</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let result of filteredResults">
                    <td class="border px-4 py-2">
                      <!-- {{ result.Entre?.pays_dest }} / {{ result.Entre?.code }} /
                      {{ result.Entre?.expediteur }} / -->
                      {{ result.date_creation | date : "dd/MM/yyyy HH:mm" }}
                    </td>
                    <td>
                      {{ result.montant | number:'1.0-0' }}
                      {{
                      result.signe
                      }}
                    </td>
                    <!-- <td>{{ result.montant | number:'1.0-0' }} {{ result.prix == 0 ? 'GNF' : (result.signe || '') }}</td> -->
                    <td>{{ result.type }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="new-project-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="container">
        <h2>Ajouter un payement</h2>
        <form [formGroup]="payementForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="code">Code</label>
            <input id="code" formControlName="code" class="form-control" />
          </div>

          <div class="form-group">
            <label for="montant">Montant</label>
            <input id="montant" formControlName="montant" class="form-control" type="text" [(ngModel)]="montant"
              [ngModel]="montant | currencyFormat" (input)="onInputChange($event)" />
          </div>

          <div class="form-group">
            <label for="prix">Prix</label>
            <input id="prix" formControlName="prix" class="form-control" type="text" [(ngModel)]="prix"
              [ngModel]="prix | currencyFormat" (input)="onInputChangePrix($event)" />
          </div>

          <div class="form-group">
            <label for="signe">Signe</label>
            <select id="signe" class="form-control" formControlName="signe">
              <option value=""></option>
              <option value="EURO">Euro</option>
              <option value="USD">Dollar</option>
              <option value="XOF">Cfa</option>
            </select>
          </div>

          <div class="form-group">
            <label for="type">Type</label>
            <select id="type" class="form-control" formControlName="type">
              <option value="ENTREE">Entre</option>
              <option value="SORTIE">Sortie</option>
            </select>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Annuler
            </button>
            <button type="submit" [disabled]="!payementForm.valid" class="btn btn-primary">
              <span *ngIf="loading">Création en cours...</span>
              <span *ngIf="!loading">Ajouter</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>