<div class="content-page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card bg-transparent">
            <div class="card-body p-0">
              <div class="profile-image relative">
                <img src="/assets/images/top-header.png" class="img-fluid rounded w-full" alt="profile-image">
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row m-0">
        <div class="col-lg-12 card-profile">
          <div class="card card-stretch h-full">
            <div class="card-body">
              <div class="table-responsive">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-wrap items-center justify-between breadcrumb-content">
                        <h5>Liste des payements</h5>
                        <div class="d-flex flex-wrap items-center justify-between">
                          <div class="pl-3 btn-new border-left">
                            <a href="#" class="btn btn-primary" data-target="#new-project-modal"
                              data-toggle="modal">Ajouter nouveau</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col-md-3">
                    <input type="date" id="startDate" class="form-control" placeholder="Date Début">
                  </div>
                  <div class="col-md-3">
                    <input type="date" id="endDate" class="form-control" placeholder="Date Fin">
                  </div>
                  <div class="col-md-3 d-flex">
                    <button id="btnFilter" class="btn btn-primary"
                      style="border-radius: 60px; padding: 5px 10px; font-size: 14px;">
                      Filtrer
                    </button>
                  </div>
                  <div class="col-md-3 d-flex">
                    <div id="totalMontant" style="font-weight: bold; margin-top: 10px;">Total Montant GNF : 0 GNF</div>
                  </div>
                </div>
  
                <table  id="transactions-table" datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Date paiement</th>
                      <th>Montant</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let result of allresultat">
                      <td class="border px-4 py-2">{{" "+result.Entre.pays_dest+" / "+""+result.Entre.code+" / "+ ""+result.Entre.expediteur+" / "}}{{ result.date_creation | date:'dd/MM/yyyy HH:mm'}}</td>
                      <!-- <td>{{ result.date_creation | date: 'dd/MM/yyyy HH:mm' }}</td> -->
                      <td>{{ result.montant | currency: '' :'' : '1.0-0' }} GNF</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="new-project-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
  
        <div class="container">
          <h2>Ajouter un payement</h2>
          <form [formGroup]="payementForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="code">Code entre</label>
                <input id="code" formControlName="code" class="form-control" />
              </div>
            
            <div class="form-group">
              <label for="montant">Montant</label>
              <input id="montant" formControlName="montant" class="form-control" type="number" />
            </div>
            <button type="submit" [disabled]="!payementForm.valid" class="btn btn-primary">
              <span *ngIf="loading">Création en cours...</span>
              <span *ngIf="!loading">Ajouter</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>